body {

}

#fu {
  margin-bottom: 5%;
}

.row {
  text-align: center;
}

#top2017 {
  font-family: 'Raleway', sans-serif;
}

#top2017_albums {
  font-size: 1em;
  margin: auto auto;
}

.top10_title {
  font-size: 1.4em;
  font-style: italic;
}

#honor_entries {
  font-size: .55em;
}

.album {
  font-weight: bold;
  font-size: 1.3em;
  margin-right: .1%
}
